* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SECTION CLASSES */
header {
    background-color: #0084fd;
    color: white;
    padding: 10px 0;
}

.info,
.expert-partners {
    margin: 40px 30px;
}

main > *:nth-child(even) {
    background-color: #9792e4;
}

.strategic-planning,
.benefits {
    padding: 40px 30px;
} 

.expert-partners {
    margin-bottom: 80px;
}

.about-us {
    margin: 40px 50px;
}

.get-started {
    margin-top: 40px;
    padding: 40px 100px;
}

footer {
    background-color: #333333;
    padding: 40px 180px;
}

/* LAYOUT CLASSES */
.container {
    max-width: 100%;
}

.container-sm {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header-left,
.header-right {
    width: 50%;
}

.col-100,
.col-70,
.col-66,
.col-50,
.col-33,
.col-33-benefits,
.col-30
 {
    width: 100%;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desktop-menu {
    list-style-type: none;
    display: none;
}

.desktop-menu li {
    display: inline-block;
    margin: 0 15px;
}

.content {
    background-color: blueviolet;
    height: 300px;
    margin: 10px;
}

.content-head {

    margin: 10px 40px;
}

.content-info,
.content-info-phone {
    background-color: #b5ddff;
    margin: 10px;
    border-radius: 20px;
}

.content-info  {
    padding: 30px;
}

.content-info-phone {
    padding: 30px 30px 0 30px;
}

.content-plan-2 {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
}

.content-testimonials {
    margin: 10px;
}

.content-partners {
    background-color: #9792e4;
    color: white;
    margin: 10px;
    border-radius: 40px;
    padding: 10px;
}

.content-benefits-title {
    margin: 10px;
    padding: 30px 0;
}

.content-benefits {
    margin: 10px;
    border-radius: 20px;
    padding: 30px 25px;
    background-color: white;
}

/* UTILITY CLASSES */

.fa-solid {
    font-size: 30px;
}

.btn-white {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.btn-blue {
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}

.btn-purple {
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}



.py-40 {
    padding-bottom: 40px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-35 {
    font-size: 35px;
}

.fs-45 {
    font-size: 45px;
}

.icon-info i {
    font-size: 70px;
    display: block;
}


.icon-info {
    display: flex;
    justify-content: center;
}

.content-info h2,
.content-plan-2 h2 {
    padding: 25px 0px;
}

.content-info-phone h2 {
    padding-bottom: 25px;
}

.content-info p,
.content-info-phone p,
.content-plan-2 p {
    color: #333333b7;
}

.content-info-phone img {
    width: 250px;
    padding-top: 50px;
    margin-bottom: -7px;
}

.content-plan-1 {
    color: white;
}

.content-plan-1 h2 {
    padding: 60px 0px;
}

.content-plan-1 p,
.content-plan-2 p {
    padding-bottom: 40px;
}

.main-color-1 {
    color: #0084fd;
}

.main-color-2
{
    color: #9792e4;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.plan-1 img {
    width: 100%;
}

.plan-2 img {
    width: 100%;
}

.download-btn {
    background-color: #9792e4;
    border-radius: 25px;
    padding: 0px 15px;
    font-size: 30px;
}

.content-testimonials h2 {
    padding: 30px 0;
}

.nat img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}

.content-partners h2 {
    padding: 20px 0;
}

.content-benefits-title {
    color: white;
}

.content-benefits h2,
.content-benefits h3 {
    color: #9792e4;
}

.content-benefits h3 {
    padding: 20px 0;
}

.content-benefits p {
    padding-bottom: 30px;
    line-height: 25px;
}

/* RESPONSIVENESS */
@media screen and (min-width: 768px) {
    .col-66 {
        width: calc(100% / 3 * 2);
    }
    .col-33 {
        width: calc(100% / 3);
    }
    .col-33-benefits {
        width: 50%;
    }
    .col-70 {
        width: 70%;
    }
    .col-30 {
        width: 30%;
    }
    .text-center-phone {
        text-align: left;
    }
    .row .col-33:nth-child(2) .content-info {
        padding-bottom: 150px;
    }
    .content-plan-1 h2 {
        font-size: 60px;
    }
    .nat {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .nat-cit p {
        line-height: 30px;
    }
    .nat-cit {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    .container-sm {
        width: 900px;
        margin: 0 auto;
    }
    .content-head {
        margin: 10px;
    }
    .content-head .fa-solid {
        display: none;
    }

    .desktop-menu {
        display: inline-block;
    }
    .col-50 {
        width: 50%;
    }
    .col-33-benefits {
        width: calc(100% / 3);
    }
    .row .col-33:nth-child(2) .content-info {
        padding-bottom: 250px;
    }
    .col-50 {
        display: flex;
        align-items: flex-end;
        padding: 30px;
    }
    .content-plan-1 h2 {
        font-size: 35px;
    }
    .plan-2 {
        width: 100%;
    }
}