* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION CLASSES */
header {
    background-color: #0084fd;
    color: white;
    padding: 10px 0;
}

.info,
.expert-partners {
    margin: 40px 30px;
}

main > *:nth-child(even) {
    background-color: #9792e4;
}

.strategic-planning,
.benefits,
footer {
    padding: 40px 30px;
} 

.expert-partners {
    margin-bottom: 80px;
}

.about-us {
    margin: 40px 50px;
}

.get-started {
    margin-top: 40px;
    padding: 40px 100px;
}

footer {
    background-color: #333333;
}

/* LAYOUT CLASSES */
.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header-left,
.header-right {
    width: 50%;
}

.col-100,
.col-70,
.col-66,
.col-50,
.col-33,
.col-33-benefits,
.col-30
 {
    width: 100%;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    background-color: blueviolet;
    height: 300px;
    margin: 10px;
}

.content-head {

    margin: 10px 40px;
}

/* UTILITY CLASSES */

.fa-solid {
    font-size: 30px;
}

/* RESPONSIVENESS */
@media screen and (min-width: 768px) {
    .col-66 {
        width: calc(100% / 3 * 2);
    }
    .col-33 {
        width: calc(100% / 3);
    }
    .col-33-benefits {
        width: 50%;
    }
}